[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pandas = "*"
requests = "*"
yfinance = "*"
numpy = "*"

[requires]
python_version = "3.12"