.left-sidebar {
    background-color: #f8f9fa; /* Light background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.centered-title {
    margin-bottom: 20px;
}

.input-group, .btn-group, .form-select, .btn {
    margin-bottom: 15px;
}

.btn {
    border-radius: 8px;
}

.btn-outline-success, .btn-outline-danger {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}
