.left-sidebar {
    background-color: #60666b;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%; /* Set a fixed width */
    flex-shrink: 0; /* Prevent shrinking */
}

.centered-title {
    margin-bottom: 20px;
    color: #f8f9fa; /* Light text color */
}

.input-group, .btn-group, .form-select, .btn {
    margin-bottom: 15px;
}

.btn {
    border-radius: 8px;
}

.btn-outline-success, .btn-outline-danger {
    background-color: #f8f9fa; /* Light background */
    color: #343a40; /* Dark text color */
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}
